@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #F9FAFB;
}


/* bg-white w-96 p-8 rounded-[10px] shadow-[0_10px_15px_rgba(0,0,0,0.1)] */
.login, .register{
    background-color: white;
    width: 25%;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0,0,0,.15);
}

.login h1, .register h1{
    font-size: 50px;
    font-weight: bold;
    text-align:center;
    margin: 35px;
    text-shadow: 0 4px 6px rgba(0, 0, 0, .1);
}

form input{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 1px 10px rgb(0,0,0,.15);
    width: 70%;
}


form button{
    width: 70%;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    margin: 15px;
    font-weight: 500;
    transition: all 0.25s ease-in;
}

form button:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
}

.create-account, .login-plc {
    margin: 15px;
}

.create-account a::after,
.login-plc a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.25s ease-in-out;
}

.create-account a:hover::after,
.login-plc a:hover::after{
    width: 100%;
}